# Thanks to: https://gist.github.com/jdbartlett/444295

# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!composer.json
!package.json
!yarn.lock
!.modernizrrc
!webpack.config.js
!.babelrc
!manifest.json
!serviceworker.js
!images/
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
# !wp-content/plugins/advanced-custom-fields-pro/

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/wp-pwa/

!*.sql.gz
!*.sql

node_modules/
*.swp
.sass-cache
.DS_Store